* {
    box-sizing: border-box;
	margin:0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
#cajaExtension{
    position: absolute;
    width: 100%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    z-index: 99;
}
#cartelExtension{
    width: 25%;
}
#wikiLetrero{
    width: 100%;
    filter: drop-shadow(1px 2px 2px rgb(130, 130, 190));
}
form{
    width: 70%;
    box-shadow: 1px 1px 3px rgb(20 20 210);
    border-radius: 10px;
    margin: 20px 0px 12px 0px; 
}

input{
    width: 100%;
    border: none;
    font-size: 1.3em;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 3px rgb(20 20 210);
}

#radioDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}
input #alfabetico{
    height: 30px;
    width: 185px;
    text-align: center;
    border: 2px solid rgb(10,10,210);
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(185, 10, 10)
}
#lanzar{
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgb(5 5 195);
    text-align: center;
    color: rgb(210,0,0);
    cursor: pointer;
    font-weight: bold;
}
#lanzar:hover{
    box-shadow: 2px 3px 4px rgb(75, 75, 250) ;
}
.panelEntrada{
    display: none;
    flex-direction: column;
    width: 96%;
    margin:40px 0px 12px 0px;
}
.boton{
    width: 45%;
    padding: 2px; 
    text-align: center;
    border-radius: 5px;
    z-index: 99;
    box-shadow: 1px 1px 3px rgb(10, 10, 230);
    color: rgb(210,0,0, 0.9);
    font-weight: bold;
    opacity: 0.9;
    cursor: pointer;
}
.botonInstrucciones{
    float: left;
}
.botonAcercaDe{
    float: right;
}

/*.panelBotones:hover{
    height: 120px;
}
.botonInstrucciones:hover + .textoInstr {
    display: inline;
    opacity: 1;
    height: 100%;
    
}
.botonAcercaDe:hover + .acercaDe {
    display: block;
    opacity: 1;
    height: 100%;
}*/

.textos{
    width: 99%;
    margin-top: 6px;
    font-weight: bold;
    text-align: justify;
    color: rgb(10,10,140)
}
.pTextos{
    padding: 2px 1px 2px 1px;
}
/*.textoInstr{
    opacity: 0;
    height: 0px;
    
}
.acercaDe{
   
    opacity: 0;
    height: 0px;
}*/
.politicaPrivacidad{
    font-size: 0.9em; 
    color: rgb(195, 0,0); 
    text-align: center; 
    margin-top: 5px;
    cursor: pointer;
}

/*    Pantalla RESULTADOS   */
#caja{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
}
#cajaLetrero{
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#letrero{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cartelLetrero{
    width: 35%;
}
#wikiLetrero{
    width: 100%;
    filter: drop-shadow(1px 2px 2px rgb(130, 130, 190));
}
.datosLetrero{
    font-size: 1.3em;
    width: 95%;
    min-height: 25px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    color: rgb(10 10 205);
    box-shadow: 0px 1px 3px rgb(30 30 95);
    border-radius: 5px;
    margin-top: 4px;
}
#letreroContador{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contador1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
}
#listaPaginas{
    width: 65%;
    max-height: 535px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    box-shadow: -1px 1px 3px rgb(120, 120, 125);
}
#listaPaginas::-webkit-scrollbar  {
    width: 4px;
     background: rgb(170, 170, 205);
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(210,210,225); 
  }
#paginaEnLista{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6px 0px 6px 12px;
    box-shadow: 0px 1px 4px inset rgb(165 165 200);
}
.articuloEnLista{
    width: 60%;
    font-size: 1.3em;
}
.hideText{
    width: 95%;
    background: rgb(245, 245, 250, 0.2);
    padding: 3px 2px 2px 5px;
    margin: 5px 0px 2px 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px inset;
    
}
#idiomasEnLista{
    width: 90%;
    font-size: 0.8em;
}
#idiomasEnLista a{
    margin-right: 3px;
}
#nuevaBusqueda{
    width: 35px;
    cursor: pointer;
}
#imgNuevaBusqueda{
    width: 100%;
    filter: drop-shadow(-1px 2px 2px rgb(80,80,100));
}
#imgNuevaBusqueda:hover{
    filter:drop-shadow(1px 2px 4px rgb(100,100,140))
}
#imgNuevaBusqueda:active{
    filter:drop-shadow(1px 1px 2px rgb(10,10,40))
}

