@media only screen and (max-width: 600px) {
    #titulo{
        font-size: 1.2em;
    }
    #fechasID{
        margin: 2px 0px;
    }
    .pantallaControl{
        width: 100%;
    }
    #cajaBotones{
        width: 93%;
        flex-wrap: wrap;
        row-gap: 4px;
    }
    .container{
        width: 90%;
    }
    .caption-container{
        width: 40%;
        top: 5px;
        left: auto;
        align-items: baseline;
    }
    .caption{
        width: 55%;
    }
    #slidesContainer{
        position: relative;
    }
    .flechas{
        transform: rotate(0deg);
    }
    #botonMovie{
        transform: rotate(0deg);
    }
    #botonCerrarMovie{
        transform: rotate(0deg);
    }
    #target{
        top: 3px;
        left: 0px;
        right: auto;
    }
  }