* {
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}
body {
    width: 99%;
    height: 99%;
    margin: 0;
    font-family: sans-serif;
    background: rgb(203,215,255);
}
.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    padding: 2px;
}
.cajas{
    position: relative;
    width: 100%;
    display: flex;
}
#fotoSatelite{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabeceraCiudad{
    width: 100%;
    position: static;
    bottom: 0px;
    left: 0px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    padding: 6px 0px 0px 0px;
    background:  linear-gradient(181deg, rgb(243,245,255), transparent);
}
#ciudad{
    font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
}
#direccionPostal{
    display: flex;
    flex-direction: column;
    font-size: clamp(0.5rem, 8vw - 0.7rem, 0.9rem);
}
#horaActual{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
}

#instrumentos{
    position: absolute;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selectVisib{
    display: flex;
    justify-content: center;
}
select{
    background: none;
    color: rgb(230, 240, 10);
}
.ampliar{
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 8px;
}
a{
    text-decoration: none;
    color: rgb(190, 230, 10);
}
#videoSatelite{
    width: 100%;
}

.cajaTiempo{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(215, 215, 245);
    text-shadow: 1px 1px 2px rgb(35,35,50);
    border-radius: 8px;
    padding: 5px 3px 6px 5px;
}
#actual1{
    width: 100%;
    display: flex;
    align-items: center;
}
.divDatos{
    width: 100%;
    display: flex;
    align-items: center;
}
.spanDatos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
    font-size: 0.9em;
}
#prob{
    position: relative;
    width: 18%;
}
.riseAndSet{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#riseAndSet{
    justify-content: space-evenly;
} 
#riseAndSetMoon{
    position: relative;
    justify-content: space-evenly;
} 
.temperaturas{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#tempActual{
    font-size: clamp(2rem, 8vw - 2.5rem, 3rem);
}
#iconoActual{
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#descripActual{
    width: 50%;
    font-size: clamp(1.5rem, 8vw - 2rem, 2.5rem);
    text-align: center;
}
#actual2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#iconoViento{
    position: relative;
    width: 50%;
    margin-bottom: 5px;
}
#velocidadViento{
    width: 100%;
    position: absolute;
    top: 43%;
    text-align: center;
    font-size: 0.9rem;
    color: rgb(60,20,20);
    text-shadow: 1px 1px 2px rgb(180 180 20);
}
#datosActual{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 5px;
}
.cajaPrevisiones{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3px;
}
#horas{
    position: relative;
    width: 100%;
    min-height: 55%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
.indexMaxMin{
    position: absolute;
}
#horas::-webkit-scrollbar{
    width: 0px;
    height: 9px;
    background: rgb(30, 40, 100);
}
#horas::-webkit-scrollbar-thumb{
    background: rgb(150, 170, 210);
}
.cajaHoras{
    position: relative;
    min-width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.cajaHoras:hover .datosEnHoras{
    bottom: 0px;
    transition-duration: 0.8s;
}
#horaEnHoras{
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    text-shadow: 1px 1px 2px rgb(150, 150, 210);
}
#iconoEnHoras{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#boxTemp{
    width: 100%;
    height: 40%;
    position: relative;
}
.termometro{
    padding: 0px 7px 1px 2px;
    background: rgb(225, 10, 10, 0.6);
    color: white;
    border-radius: 0px 12px 12px 0px;
}
#tempEnHoras{
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 0.9rem;
}
#descripEnHoras{
    width: 100%;
    position: absolute;
    top: -2px;
    font-size: 0.7rem;
    text-align: center;
}
.datosEnHoras{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 3px;
    background: white;
}
.spanDatosHoras{
    position: relative;
    width: 39%;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}
#dias{
    width: 100%;
    min-height: 45%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
#dias::-webkit-scrollbar{
    width: 0px;
    height: 9px;
    background: rgb(30, 40, 100);
}
#dias::-webkit-scrollbar-thumb{
    background: rgb(150, 170, 210);
}
.cajaDias{
    position: relative;
    min-width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.cajaDias:hover .datosEnDias{
    bottom: 0px;
    transition-duration: 0.8s;
}
.riseSetEnDias{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}
/* #riseEnDias{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2px;
}
#setEnDias{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2px;
} */
.spanRiseSet{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2px;
}
#diaEnDias{
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    text-shadow: 1px 1px 2px rgb(150, 150, 210);
}
#iconoEnDias{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tempEnDias{
    width: 100%;
    position: absolute;
    top: -6px;
    text-align: center;
    font-size: 0.9rem;
}
#descripEnDias{
    position: absolute;
    bottom: -2px;
    font-size: 0.8rem;
}
.datosEnDias{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 3px;
    background: white;
}